In [ ]:
%matplotlib inline
import pandas as pd
import mplfinance as mpf

In [25]:
file = 'C:\\Users\\suler\\PycharmProjects\\algorithmic-trading-python\\yahoo-finance\\CCIV.csv'
data = pd.read_csv(file)

In [26]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-09-18,10.250000,10.250000,9.820000,9.890000,9.890000,564300
1,2020-09-21,9.900000,9.960000,9.860000,9.860000,9.860000,762800
2,2020-09-22,9.960000,9.960000,9.850000,9.880000,9.880000,1280800
3,2020-09-23,9.900000,9.905000,9.790000,9.850000,9.850000,192600
4,2020-09-24,9.850000,9.850000,9.750000,9.770000,9.770000,605500
...,...,...,...,...,...,...,...
82,2021-01-15,17.809999,21.000000,16.200001,18.360001,18.360001,184854200
83,2021-01-19,18.049999,18.690001,17.500000,17.900000,17.900000,68336400
84,2021-01-20,18.350000,18.730000,17.799999,18.059999,18.059999,27627700
85,2021-01-21,18.090000,18.250000,17.110001,17.809999,17.809999,23590500
86,2021-01-22,18.490000,22.670000,18.000000,22.350000,22.350000,92487100